/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} */

body,
html {
	font-family: "Arial", sans-serif;
}

.profile-container {
	max-width: 600px;
	margin: auto;
	padding-bottom: 10px;
	display: flex;
}

.profile-cover {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.profile-body {
	display: flex;
	justify-content: center;
	margin-top: -50px; /* Half of the avatar image height */
	align-items: flex-start; 
}

.profile-avatar-container {
	margin-right: 20px; /* Space between avatar and profile info */
}

.profile-avatar {
	width: 100px;
	height: 100px;
	margin-left: 70px;
	border-radius: 50%;
	border: 4px solid white;
	object-fit: cover;
}

.profile-info-container {
	text-align: left;
	margin-top: 90px;
	align-self: flex-start; /* Align to the top of flex container */
}

.profile-info-about {
	text-align: left;
	padding: 15px 0px 30px 0px;
}

h1,
h2 {
	margin-bottom: 4px;
}

h1 {
	font-size: 20px;
	font-weight: bold;
}

h2 {
	font-size: 16px;
	color: #657786;
}

.profile-extra-info {
	display: flex;
	align-items: center;
	font-size: 12px;
}

.profile-extra-info img.icon {
	width: 16px;
	height: 16px;
	padding: 1px;
	margin-right: 5px;
	margin-left: 5px;
}

.profile-joined {
	display: flex;
	align-items: center;
	margin-top: 4px;
	font-size: 12px;
}

.profile-stats {
	display: flex;
	justify-content: start;
	margin: 10px 0;
}

.profile-stats span {
	font-size: 14px;
	margin-right: 50px;
}

.follow-btn {
	border: none;
	background-color: #151515;
	color: white;
	padding: 8px 16px;
	border-radius: 20px;
	cursor: pointer;
	font-weight: bold;
	margin-top: 50px;
	margin-left: auto;
}

.tweets-container {
	border-top: 1px solid #e1e8ed;
	text-align: left;
	margin-top: 10px;
}

.tweet {
	display: flex;
	flex-direction: column;
	background-color: #f5f8fa;
	border-bottom: 1px solid #e1e8ed;
	padding: 10px;
	margin: 15px;
}

.tweet-header {
	display: flex;
	align-items: center;
}

.tweet-avatar {
	width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius: 50%;
	margin-right: 10px;
}

.tweet-user {
	display: flex;
	flex-direction: column;
}

.tweet-username {
	font-weight: bold;
}

.tweet-handle {
	color: #657786;
	font-size: smaller;
}

.tweet-time {
	color: #657786;
	font-size: smaller;
}

.tweet-date img.icon{
	width: 16px;
	height: 16px;
	padding: 1px;
	margin-right: 5px;
	margin-left: 5px;
}

.tweet-content {
	margin-top: 10px;
}

a {
	color: #1b95e0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.profile-sidebar {
  flex: 1;
	padding: 50px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 5px;
  cursor: pointer;
}

ul li:hover {
  color: #3577c3;
}
